body {
  background-color: white;
  margin: 0px;

}


h1 {
  color: navy;
  text-align:center;
  line-height: 100px;
}
.header {
  margin:0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
    width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #2372ef;
}
.active {
  background-color: #2372ef;
}

#text1 {
   padding:20px;
   margin-top:20px;
   background-color:white;
   height:1500px;

}
